<ul class="nav__list list-reset">
  <li class="nav__item">
    <a href="{{ site.baseurl }}/" class="nav__link">Home</a>
  </li>
  {% for page in site.pages %}
    {% unless page.name == 'tags.html' or page.name == '404.html' %}
      {% if page.title %}
        {% if page.title == 'Github' %} 
        <li class="nav__item">
          <a href="https://github.com/monologg" class="nav__link">{{ page.title }}</a>
        </li>
        {% else %}
        <li class="nav__item">
          <a href="{{ page.url | prepend: site.baseurl }}" class="nav__link">{{ page.title }}</a>
        </li>
        {% endif %}
      {% endif %}
    {% endunless %}
  {% endfor %}
</ul>